/* estilo.css */

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #007bff;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

/* Estilo para o formulário */
form {
    background-color: #aedff7;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os rótulos do formulário */
label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    color: #007bff;
}

/* Estilo para os campos de entrada */
input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Estilo para o botão de envio */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo para o botão de envio ao passar o mouse */
input[type="submit"]:hover {
    background-color: #ff9800;
}

.logodiv {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.logodiv img {
    display: block;
    width: 40%;
    height: auto;
    margin: 0 auto;
}
