/* estilo.css */

body {
    background-color: #007bff;;
}

.imgGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgGrid img {
    width: 105px; /* Defina o tamanho das imagens conforme necessário */
    height: auto; /* Mantém a proporção original da imagem */
    margin: 10px; /* Espaço entre as imagens */
    border: 2px solid #ddd; /* Borda ao redor das imagens */
    border-radius: 5px; /* Borda arredondada */
}

.imgGrid img:hover {
    border: 2px solid #007bff; /* Cor da borda ao passar o mouse */
}

button {
    display: block;
    background-color: #3094ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #0069d9;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 20px;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.restartDiv {
    text-align: center;
    margin: 20px;
}